.container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.container::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url('../images/backimg.png');
    background-repeat : no-repeat;
    background-size : cover;    
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.75;
}
.topmenu-links a:not(.topmenu-links-name){
    margin-left: 1em;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
}

.content-section{
	position: relative;
    padding: 42.5vh 0;
}
.main-message{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40vh;
    margin: 5px 0;
    height: 3em;
    font-size: 1.5rem;
}

.main-message p{
    color: white;
    text-align: center;
    line-height: 1.75em;
}

.main-message strong{
    font-size: 2.3rem;
    font-weight: bold;
    color:gold;
}
