.content-section{
  padding: 26vh 0.5rem;
  max-width: 30%;
}
.content-section h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.content-section label{
	font-size: 1.2rem;
}

.loginbtn{
  background-color: #4CAF50;
}

.signupbtn{
    background-color: #7ca1f8;
}

.loginbtn, .signupbtn {
  float: left;
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media(max-width: 500px) {

  .content-section{
    max-width: 85%; 
  }
}