.content-section{
    height: auto;
    height:100%; /* IE6: treaded as min-height*/
    min-height:90vh; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    flex-direction: column;
}

table label{
    margin: 0 auto;
}
.content-section-accountinfo{
    margin: 0 auto;
    margin-bottom: 1.5rem;
} 

.order-list-table, .like-list-table{
    width: 100%;
    margin: 0 0 1.5rem 0;
}

.message{
    text-align: center;
}

form{
	margin-top: 3rem;
}
.playvideobtn{
    width: auto;
    border-radius: 10%;
    color: white;
    background-color: #cccccc;
}
.minibtnbox{
    display: flex;
    justify-content: center;
}
.searchbtn {
	padding: 0.8rem;
    color: white;
    font-weight: bold;
    background-color: #ccc;
    transition-duration: 0.4s;
}

.searchbtn:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}